*,
*::before,
*::after {
	box-sizing: border-box;
}

.page {
	line-height: 1.5;
}

.page__body {
	font-family: var(--font-family);
}

.container {
	overflow: hidden;
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: calc((var(--container-width)) + (var(--container-offset) * 2));
}

.wrapper {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 81%,
			rgba(0, 0, 0, 1.5) 101%
		),
		url(../images/bg-img-header-title.jpg);
	background-size: cover;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
