.btn {
	border-radius: 5px;
	width: 229px;
	height: 60px;
	background-color: var(--red);
	border: 2px solid var(--red);
	font-weight: 900;
	font-size: 14px;
	color: #fff;
	transition: 0.2s ease;
}

.btn:hover {
	background-color: #fff;
	color: var(--red);
}

.btn:active {
	background-color: lightgrey;
}
